<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" .}}
    {{ if .turnstileEnabled }}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {{ end }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js" async defer></script>
</head>
<body>
{{ template "header" .}}
<div>
    <form action="/submitWiki" method="post">
        <div>
            <label for="page">Page</label>
            <input id="page" name="page" value="{{ .page }}">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea id="content" name="content" style="min-height: 60vh">{{ .wikiContent }}</textarea>
        </div>
        <div>
            <label for="comment">Comment</label>
            <input id="comment" name="comment">
        </div>
        {{ if .turnstileEnabled }}
        <div class="cf-turnstile" data-sitekey="{{ .turnstileSiteKey }}"></div>
        {{ end }}
        <button>Save</button>
    </form>
</div>
<script>
    window.addEventListener('load', function () {
        const easyMDE = new EasyMDE({element: document.getElementById('content')});
    })
</script>
</body>
</html>
