<!DOCTYPE html>
<html lang="en">
{{ template "head" .}}
<body>
{{ template "header" }}
<div>
    <form action="/submitWiki" method="post">
        <div>
            <label for="page">Page</label>
            <input id="page" name="page" value="{{ .page }}">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea id="content" name="content" style="min-height: 60vh">{{ .wikiContent }}</textarea>
        </div>
        <button>Save</button>
    </form>
</div>
</body>
</html>
