<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head" .}}
</head>
<body>
{{template "header" .}}
<div class="main-content">{{ .wikiContent }}</div>
<div class="last-modifed-time"><pre>Last modified at {{ .lastModifiedTime }}</pre></div>
<div><a href="/edit/{{ .page }}"><button>{{ .buttonText }}</button></a></div>
</body>
</html>
