div.last-modifed-time {
    text-align: right;
}

div.main-content {
    border: 1px solid #eee;
    box-shadow: 0 0 .5em #999;
    border-radius: 2px;
    padding: 1.556em 2em 2em;
    margin-bottom: .5em;
}

.hide {
    display: none;
}

.message-popup {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 1000;
    padding: 0 1em;
    border: 1px solid #eee;
    box-shadow: 0 0 .5em #999;
    border-radius: 1em;
    background-color: #fff;
}