div.last-modifed-time {
    text-align: right;
}

div.main-content {
    border: 1px solid #eee;
    box-shadow: 0 0 .5em #999;
    border-radius: 2px;
    padding: 1.556em 2em 2em;
    margin-bottom: .5em;
}