<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ .title }}</title>
    <link rel="stylesheet" href="/pub/css/water.dark.min.css">
</head>
<body>
<div>
    <form action="/submitWiki" method="post">
        <div>
            <label for="page">Page</label>
            <input id="page" name="page" value="{{ .page }}">
        </div>
        <div>
            <label for="content">Content</label>
            <textarea id="content" name="content">{{ .wikiContent }}</textarea>
        </div>
        <button>Save</button>
    </form>
</div>
</body>
</html>
