{{define "header"}}
    <header>
        <nav>
            <h1>
                <a href="/">wiki</a>
            </h1>
        </nav>
    </header>
    <div class="message-popup-template message-popup hide">
        <blockquote class="message-holder"></blockquote>
    </div>
{{end}}
